.calendar-view {
  color: #000;
}

.calendar-weekdays-view {
  font-weight: bold;
}

.calendar-day.sel,
.calendar-day.not-current-month.sel {
  background-color: #36c;
  color: #fff;
  font-weight: bold;
}

.calendar-day.not-current-month {
  color: #7f7f7f;
}

.calendar-day.disabled,
.calendar-day.not-current-month.disabled {
  color: #cacaca;
}

.calendar-day.today {
  font-weight: bold;
}

.calendar-day {
  line-height: 24px;
}

.calendar-previous-month,
.calendar-next-month {
  background: static_url('arrows.png') no-repeat 0 0;
}

.calendar-previous-month.active {
  background-position: 0 -24px;
}

.calendar-next-month {
  background-position: -24px 0;
}

.calendar-next-month.active {
  background-position: -24px -24px;
}
